@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.header {
  align-items: center;
  color: #331d2c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  font-family: Poppins, sans-serif;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

section {
  display: block;
  unicode-bidi: isolate;
}

.left-header {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}

.nav-header {
  display: flex;
  font-size: 1rem;
  gap: 2rem;
}

.right-header {
  display: flex;
  gap: 1rem;
}

.img-link {
  max-height: 1.975rem;
  max-width: 1.975rem;
}

.header-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.header-link:visited {
  color: inherit;
}

.my-name {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
}