@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.poppins-medium {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.poppins-semibold {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.poppins-extrabold {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 800;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

body {
  font-family: Poppins, sans-serif;
}

/* Color Guidance */
:root {
  --primary-50: #ebe8ea;
  --primary-100: #c0b9be;
  --primary-200: #a1979e;
  --primary-300: #766872;
  --primary-400: #5c4a56;
  --primary-500: #331d2c;
  --primary-600: #2e1a28;
  --primary-700: #24151f;
  --primary-800: #1c1018;
  --primary-900: #150c12;
  --secondary-50: #fcfbfd;
  --secondary-100: #f5f2f9;
  --secondary-200: #f0ecf6;
  --secondary-300: #eae3f2;
  --secondary-400: #e5ddf0;
  --secondary-500: #dfd5ec;
  --secondary-600: #cbc2d7;
  --secondary-700: #9e97a8;
  --secondary-800: #7b7582;
  --secondary-900: #5e5963;
  --tertiary-50: #f6f3f4;
  --tertiary-100: #e4d8de;
  --tertiary-200: #d7c6ce;
  --tertiary-300: #c4abb8;
  --tertiary-400: #b99baa;
  --tertiary-500: #a78295;
  --tertiary-600: #987688;
  --tertiary-700: #775c6a;
  --tertiary-800: #5c4852;
  --tertiary-900: #46373f;
  --quaternary-50: #fffcfa;
  --quaternary-100: #fef5ef;
  --quaternary-200: #fdf1e8;
  --quaternary-300: #fceadd;
  --quaternary-500: #fbe0cc;
  --quaternary-600: #e4ccba;
  --quaternary-700: #b29f91;
  --quaternary-800: #8a7b70;
  --quaternary-900: #695e56;
  --neutral-50: #eaeced;
  --neutral-100: #bec3c7;
  --neutral-200: #9fa6ac;
  --neutral-300: #737e86;
  --neutral-400: #58656f;
  --neutral-500: #2e3e4b;
  --neutral-600: #2a3844;
  --neutral-700: #212c35;
  --neutral-800: #192229;
  --neutral-900: #131a20;
  --soft-rose: #dfa89f;
  --desert-sand: #edbbc7;
  --graphite-gray:#52444E;
  --light-purple: #ddc4e5;
}

/* Box model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--quaternary-200); /* Certifique-se de que essa variável está definida */
}

::-webkit-scrollbar-thumb {
  background: var(--quaternary-800); /* Certifique-se de que essa variável está definida */
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--quaternary-700); /* Certifique-se de que essa variável está definida */
  border-radius: 0.5rem;
}
